<div data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
     class="component-card">
    <div class="component-card__content" onclick="this.classList.toggle('is-flipped');">
        <div class="component-card__side component-card__side--front">
            <div class="component-card__image-with-text">
                <img class="component-card__image"
                     src="${image.src}" data-sly-test="${image.src}" alt="${image.alt}"/>
                <div class="component-card__title" data-sly-test="${properties.title}">
                    ${properties.title}
                </div>
            </div>
        </div>
        <div class="component-card__side component-card__side--back">
            <div class="component-card__description">
                ${properties.description || "No Description"}
            </div>
        </div>
        <div class="component-card">
        </div>
    </div>
</div>
