<sly data-sly-set.isEmpty="${!properties.fileReference}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>

<sly data-sly-use.image="image.js"></sly>

<div class="component-card">
    <div class="component-card__content" onclick="this.classList.toggle('is-flipped');">
        <div class="component-card__side component-card__side--front">
            <div class="component-card__image-with-text">
                <img class="component-card__image"
                     src="${image.src}" data-sly-test="${image.src}" alt="${image.alt}"/>
                <div class="component-card__title" data-sly-test="${properties.title}">
                    ${properties.title}
                </div>
            </div>
        </div>
        <div class="component-card__side component-card__side--back">
            <div class="component-card__description" data-sly-test="${properties.description}">
                ${properties.description}
            </div>
        </div>
        <div class="component-card">
        </div>
    </div>
</div>
